<div class="w-[37.75rem] h-[41.5rem] flex flex-col justify-center items-center p-5">
  <div class="flex w-full h-full">
    <div class="w-1/2 h-[90%] mx-2">
      <span style="font-size: 0.75rem">Specials</span>
      <textarea class="w-full h-full focus:outline-none border"> </textarea>
    </div>
    <div class="w-1/2 h-[90%]" mx-2>
      <span style="font-size: 0.75rem">Specials</span>
      <textarea class="w-full h-full focus:outline-none border"> </textarea>
    </div>
  </div>
  <div class="flex justify-center items-center flex w-full">
    <div class=" w-1/2 flex justify-center items-center mr-1">
      <button (click)="onClose()" class="bg-white flex-1 px-6 py-3 border-2 border-blue-400 text-blue-400 rounded-xl
              hover:scale-95 transition-all delay-100">
        Cancel
      </button>
    </div>
    <div class="w-1/2 flex justify-center items-center ml-1">
      <button (click)="onClose()" class="bg-[#557AD9] flex-1 px-6 py-3 block border-blue-400 text-white rounded-xl
              hover:scale-95 transition-all delay-100">
        Save
      </button>
    </div>
  </div>
</div>
