<div class="w-full h-[calc(100vh-80px)] font-poppins flex flex-col justify-between">
  <section class="w-full h-[68px] bg-white border-b ">
    <div class="flex items-center justify-between w-full h-full">
      <div class="flex ml-8 gap-8">
        <span class="inline-flex gap-1 text-[14px] font-normal">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" fill="#3395F0" fill-opacity="0.16" r="10"/>
            <circle cx="10" cy="10" fill="#32C5FF" r="6"/>
          </svg>
          Available
        </span>
        <span class="inline-flex gap-1 text-[14px] font-normal">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" fill="#13C91B" fill-opacity="0.16" r="10"/>
            <circle cx="10" cy="10" fill="#13C91B" r="6"/>
          </svg>
          Coming
        </span>
        <span class="inline-flex gap-1 text-[14px] font-normal">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" fill="#FF7CA3" fill-opacity="0.16" r="10"/>
            <circle cx="10" cy="10" fill="#F64662" r="6"/>
          </svg>
          Busy
        </span>
        <!--
        <span class="inline-flex gap-1 text-[14px] font-normal">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" fill="#13C91B" fill-opacity="0.16" r="10"/>
            <circle cx="10" cy="10" fill="#66C109" r="6"/>
          </svg>
          Billed
        </span>
        -->
        <span class="inline-flex gap-1 text-[14px] font-normal">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
          <circle cx="10" cy="10" fill="#d6ce38" fill-opacity="0.16" r="10"/>
          <circle cx="10" cy="10" fill="#d6ce38" r="6"/>
          </svg>
          Reserved
        </span>
        <span class="inline-flex gap-1 text-[14px] font-normal">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
          <circle cx="10" cy="10" fill="#828487" fill-opacity="0.18" r="10"/>
          <circle cx="10" cy="10" fill="#C4C4C4" r="6"/>
        </svg>
          Disable
        </span>
      </div>
      <!--
      <div class="flex justify-between items-center mr-4 text-[14px] font-normal gap-[16px]" role="group">
        <button class="w-[90px] h-[36px] border border-[#E4E4E4] rounded-[10px]
                       hover:bg-[#D2ECFA] hover:text-blue-700
                       focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 focus:bg-[#D2ECFA]
                       dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600
                       dark:focus:ring-blue-500 dark:focus:text-white">All table
        </button>
        <button class="w-[136px] h-[36px] border border-[#E4E4E4] rounded-[10px]
                       hover:bg-[#D2ECFA] hover:text-blue-700
                       focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 focus:bg-[#D2ECFA]
                       dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600
                       dark:focus:ring-blue-500 dark:focus:text-white">Reservation
        </button>
        <button class="w-[131px] h-[36px] border border-[#E4E4E4] rounded-[10px]
                       hover:bg-[#D2ECFA] hover:text-blue-700
                       focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 focus:bg-[#D2ECFA]
                       dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600
                       dark:focus:ring-blue-500 dark:focus:text-white">Running order
        </button>
      </div>
      -->
    </div>

  </section>

  <section class="w-[calc(100vw-160px)] h-[48px] m-[18px]">
    <div class="w-full flex justify-between items-center">
      <div class="flex items-center gap-4">
        <select #selectStatus (change)="onChangeLocalLayout($event)"
                class="w-[173px] h-[42px] appearance-none row-start-1 col-start-1  bg-gray-10 border border-gray-300 text-gray-900 text-sm rounded-lg
              focus:border-gray-10 focus:border-gray-300 block p-2.5">
          <option value="-99">All</option>
          @for (location of localLayout; track location) {

            <option value="{{location.id!}}">{{ location.area }}</option>

          }
        </select>
        @if (activeLayout != undefined) {

          <div class="ml-11">
            <span class="text-[12px] text-[#828487] mr-[12px]">Tables:</span>
            <span class="w-[134px] h-[42px] mr-[12px]"> {{ activeLayout!.totalTableNumber! }} </span>
            <span class="text-[12px] text-[#19191C]">Used : {{ activeLayout!.usedTableNumber! }}</span>
          </div>
          <div class="ml-11">
            <span class="text-[12px] text-[#828487]  mr-[12px]">Positions:</span>
            <span class="w-[134px] h-[42px] mr-[12px]"> {{ activeLayout!.totalChairNumber! }}  </span>
            <span class="text-[12px] text-[#19191C]">Used : {{ activeLayout!.usedChairNumber! }}</span>
          </div>

        }
      </div>
      <div class="flex items-center">
        <select #selectStatus (change)="onChangeUser($event)"
                class="w-[173px] h-[42px] bg-gray-10 border border-gray-300 text-gray-900 text-sm rounded-lg
                focus:border-gray-10 focus:border-gray-300 block p-2.5">
          <option selected value="-99">All operators</option>
          @for (user of userList; track user) {

            <option value="{{user.posUserId!}}">{{ user.firstName! }}</option>

          }
        </select>
      </div>
    </div>
  </section>

  <!-- <ng-container *ngFor="let table of ( layout!.tables | SearchTable : filterUser )"> -->

  <div class="w-full h-full bg-[#F8F9FD] overscroll-y-contain overflow-x-hidden">
    <div class="flex flex-col">
      @for (layout of localLayout! | SearchLayout : layoutFilter; track layout) {

        <div class="mx-6 my-6">
          <span class="bg-blue-100 text-blue-800 font-semibold mr-2 px-2.5 py-2 text-[18px]
                      rounded dark:bg-blue-900 dark:text-blue-300">{{ layout.area }}</span>
        </div>
        <div class="flex flex-wrap gap-4 mx-6 my-2">
          @for (table of (layout!.tables | SearchTable : filterUser); track table) {

            <app-card-table
              [table]="table"
              [layoutType]="layout!.layoutType"
              (evUpdateLayout)="onUpdateLayout($event)"/>

          }

          @if (this.activeLayout != undefined) {

            @if (isUserAdmin) {

              <app-add-card-table (eventTable)="onNewTable($event)"/>

            }

          }
        </div>

      }


    </div>
  </div>

  <div class="flex w-full h-[96px] justify-end border-t bg-white py-2 items-center">

    <button [disabled]="!isStatusAndAsignUser" class="w-[151px] h-[48px] mx-3 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                   focus:ring-blue-300 font-medium rounded-lg text-sm text-center
                   disabled:bg-gray-300
                   dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-dropdown-placement="top"
            data-dropdown-toggle="dropdownTop"
            id="dropdownStatusButton"
            type="button">Status
    </button>

    <!-- Dropdown menu -->
    <div class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-35 dark:bg-gray-700"
         id="dropdownStatus">
      <ul aria-labelledby="dropdownTopButton" class="py-2 text-sm text-gray-700 dark:text-gray-200">
        <li>
          <button
            (click)="onAssignTableProperty(1,1)"
            class="inline-flex px-4 py-2 w-[151px] h-[48px] hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" fill="#3395F0" fill-opacity="0.16" r="10"/>
              <circle cx="10" cy="10" fill="#3395F0" r="6"/>
            </svg>
            <span class="text-[14px] font-normal ml-2">Available</span>
          </button>
        </li>
        <li>
          <button
            (click)="onAssignTableProperty(2,1)"
            class="inline-flex px-4 py-2 w-[151px] h-[48px] hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" fill="#F97316" fill-opacity="0.16" r="10"/>
              <circle cx="10" cy="10" fill="#FF5C00" r="6"/>
            </svg>
            <span class="text-[14px] font-normal ml-2">Reserved</span>
          </button>
        </li>
        <!--
        <li>
          <button class="inline-flex px-4 py-2 w-[151px] h-[48px] hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="onAssignTableProperty(3,1)">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#13C91B" fill-opacity="0.16"/>
              <circle cx="10" cy="10" r="6" fill="#13C91B"/>
            </svg>
            <span class="text-[14px] font-normal">Billed</span>
          </button>
        </li>
        <li>
          <button class="inline-flex px-4 py-2 w-[151px] h-[48px] hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="onAssignTableProperty(4,1)">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="10" fill="#F0B433" fill-opacity="0.16"/>
              <circle cx="10" cy="10" r="6" fill="#F0B433"/>
            </svg>
            <span class="text-[14px] font-normal">Coming</span>
          </button>
        </li>
        -->
        <li>
          <button
            (click)="onAssignTableProperty(0,1)"
            class="inline-flex px-4 py-2 w-[151px] h-[48px] hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" fill="#828487" fill-opacity="0.18" r="10"/>
              <circle cx="10" cy="10" fill="#C4C4C4" r="6"/>
            </svg>
            <span class="text-[14px] font-normal ml-2">Disable</span>
          </button>
        </li>
      </ul>
    </div>


    <button #dropdownUserButton [disabled]="!isUserAdmin || !isStatusAndAsignUser"
            class="w-[151px] h-[48px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                   focus:ring-blue-300 font-medium rounded-lg text-sm text-center
                   disabled:bg-gray-300 mr-4
                   dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            data-dropdown-placement="top" data-dropdown-toggle="dropdownTop"
            id="dropdownUserButton"
            type="button">Assign user
    </button>

    <!-- Dropdown menu -->
    <div class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-56 dark:bg-gray-700"
         id="dropdownUser">
      <ul aria-labelledby="dropdownUsersButton" class="h-[270px] py-2 overflow-y-auto text-gray-700 dark:text-gray-200">
        @for (user of userList; track user) {

          <li class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              (click)="onAssignTableProperty(user!.posUserId!)">
            <img class="w-10 h-10 mr-2  py-2 rounded-full" [src]="user!.imageBase64!" alt="">
            <span class="text-[12px]">{{ user.firstName! }}</span>
          </li>

        }
        <li
          (click)="onAssignTableProperty(0)"
          class="flex items-center justify-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
          <span class="text-[12px] text-[#FF7CA3]">Remove assign</span>
        </li>
      </ul>
    </div>
    <!--
    <button class="w-[151px] h-[48px] text-white bg-[#FF7CA3] shadow text-center mr-4
                    font-semibold rounded-lg text-sm focus:outline-none flex items-center justify-center
                    disabled:bg-gray-300"
            [disabled]="!isUserAdmin"
            (click)="onRemoveTable()">
      <span class="ml-1">Remove</span>
    </button>
    -->
    <button (click)="onPlaceOrder()"
            [disabled]="!isPlaceOrder"
            class="w-[151px] h-[48px] text-white bg-[#50D1AA] hover:bg-green-700 shadow text-center mr-4
                    font-semibold rounded-lg text-sm focus:outline-none flex items-center justify-center
                    disabled:bg-gray-300">
      <span class="ml-1">Place order</span>
    </button>
  </div>
</div>
