<div
  class="w-full h-[calc(100vh-80px)] font-poppins flex flex-col justify-between">

  <section class="w-full min-h-[68px] bg-white border-b flex items-center justify-center">
    <!-- <app-daterange (onChangeDate)="onChangeDate" [dateRange]="RangeDateOperation.Day"/> -->
  </section>

  <!--
  <div class="w-[320px] duration-300 transform bg-white border-l-4 border-l-blue-900 hover:-translate-y-2">
    <div class="h-full p-5 border border-l-0 rounded-r shadow-sm">
      <h6 class="mb-2 font-semibold leading-5">The doctor said</h6>
      <p class="text-sm text-gray-900">
        Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower.
      </p>
    </div>
  </div>

  <a href="#" class="group block max-w-xs mx-auto rounded-lg p-6 bg-white ring-1 ring-slate-900/5 shadow-lg space-y-3 hover:bg-sky-500 hover:ring-sky-500">
    <div class="flex items-center space-x-3">
      <svg class="h-6 w-6 stroke-sky-500 group-hover:stroke-white" fill="none" viewBox="0 0 24 24"></svg>
      <h3 class="text-slate-900 group-hover:text-white text-sm font-semibold">New project</h3>
    </div>
    <p class="text-slate-500 group-hover:text-white text-sm">Create a new project from a variety of starting templates.</p>
  </a>


        @if (loadingCustomer) {
          <div class="w-full h-[calc(100vh-278px)]">
            <app-progress-circle/>
          </div>
        } @else {
          <ag-grid-angular
            style="width: 100%; height: 100%; padding: 4px"
            class="ag-theme-material"
            [suppressCellFocus]="true"
            [defaultColDef]="varGlobalService.defaultColDef"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            (gridReady)="onGridReady($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
            (selectionChanged)="onSelectionChanged($event)"
            rowSelection="single"
          ></ag-grid-angular>
        }

  -->

  <section class="w-full h-full overscroll-y-contain overflow-x-hidden bg-[#EBF0F7]
              dark:scrollbar-thick dark:scrollbar-thumb dark:scrollbar-track">
    <div class="min-w-full h-full m-10">
      @if (loadingCustomer) {
        <div class="w-full h-[calc(100vh-278px)]">
          <app-progress-circle/>
        </div>
      } @else {
        <div
          class="w-[96%] grid grid-cols-1 2xl:grid-cols-5 xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4">
          @for (item of rowDataSearch; track item.id) {
            <render-customer
              [customer]="item"
              [selected]="selectCustomer(item)"
              (evSelectCustomer)="onSelectCustomer($event)"/>
          }
        </div>
      }
    </div>
  </section>
  <div class="flex w-full h-[98px] justify-end border-t bg-white py-2">
    <div class="flex h-[96px] items-center justify-center gap-4">
      <!--
      <button
        [disabled]="getActiveCustomer"
        class="w-[151px] h-[48px] text-white bg-[#557AD9] hover:bg-blue-700 shadow text-center mr-4
                    font-semibold rounded-lg text-sm focus:outline-none flex items-center justify-center
                    disabled:bg-gray-300"
        (click)="onDeleteCustomer()">
        <span class="font-poppins font-semibold">Delete</span>
      </button>
      -->

      <button
        (click)="onUpdateCustomer()"
        [disabled]="getActiveCustomer"
        class="w-[151px] h-[48px] text-white bg-[#557AD9] hover:bg-blue-700 shadow text-center mr-4
                    font-semibold rounded-lg text-sm focus:outline-none flex items-center justify-center
                    disabled:bg-gray-300">
        <span class="font-poppins font-semibold">Update</span>

      </button>
      <button (click)="onNewCustomer()"
              class="w-[151px] h-[48px] text-white bg-[#557AD9] hover:bg-blue-700 shadow text-center mr-4
                    font-semibold rounded-lg text-sm focus:outline-none flex items-center justify-center
                    disabled:bg-gray-300">
        <span class="font-poppins font-semibold">New customer</span>

      </button>
    </div>
  </div>
</div>

