<div class="w-[369px] h-full flex flex-col justify-between items-center
                border-blue-500 border-2 rounded-[15px] ml-6">
  <div class="flex flex-col justify-start w-full overscroll-y-contain overflow-x-hidden overflow-hidden">
    <div class="w-full h-[49px] mt-4 ml-2">
      <div class="flex justify-between">


        <div class="font-semibold text-[#557AD9] text-[20px]">{{ getTableUse }}</div>
        <button (click)="onPrint()"
                class="w-[78px] h-[36px] text-white bg-[#557AD9] hover:bg-green-700 shadow text-center mr-4
                    font-semibold rounded-lg text-sm focus:outline-none flex items-center justify-center">
          <svg fill="none" height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.1244 6.75H4.20769C3.4598 6.75 2.85352 7.30965 2.85352 8V14.25H5.66602V12.375H15.666V14.25H18.4785V8C18.4785 7.30965 17.8722 6.75 17.1244 6.75Z"
              fill="#F8F9FD"
              opacity="0.2"/>
            <path d="M15.666 3.625H5.66602V6.75H15.666V3.625Z" stroke="#F8F9FD" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.5"/>
            <path d="M15.666 12.375H5.66602V17.6875H15.666V12.375Z" stroke="#F8F9FD" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.5"/>
            <path
              d="M5.66602 14.25H2.85352V8C2.85352 7.30964 3.4598 6.75 4.20768 6.75H17.1244C17.8722 6.75 18.4785 7.30964 18.4785 8V14.25H15.666"
              stroke="#F8F9FD" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
            <path
              d="M15.354 10.5C15.8718 10.5 16.2915 10.0803 16.2915 9.5625C16.2915 9.04473 15.8718 8.625 15.354 8.625C14.8362 8.625 14.4165 9.04473 14.4165 9.5625C14.4165 10.0803 14.8362 10.5 15.354 10.5Z"
              fill="#F8F9FD"/>
          </svg>
          <span>Print</span>
        </button>
      </div>
      <hr class="mt-2">
    </div>
    <!--
    <ng-container *ngIf="productOrders!.length > 0">
      <div *ngFor="let item of productOrders">
        <app-card-items-order [productOrder]="item" [editProductOrder]="false"></app-card-items-order>
      </div>
    </ng-container>
    -->
    <div
      class="flex flex-col max-h-[320px] min-h-[320px] justify-start w-full overscroll-y-contain overflow-x-hidden mt-3">
      @if (productOrders?.length! > 0) {

        @for (item of productOrders! | GroupProductOrder; track item) {

          <div class="flex">
            <div [style]="getColor(item - 1)"
                 class="min-h-full min-w-[27px] flex justify-center items-center ">
              {{ item }}
            </div>
            <div class="w-full px-1 flex flex-col">
              @for (itemOrder of getFilterProducts(productOrders!, item); track itemOrder) {

                <app-card-items-order [productOrder]="itemOrder" [editProductOrder]="editProductOrders"/>

              }
            </div>
          </div>

        }

      }
    </div>
  </div>

  <div class="min-h-[200px] w-full flex flex-col p-2 gap-2 border-t-2">
    <div class="flex items-center justify-between">
      <div class="text-[16px] font-semibold text-gray-500 ">Sub Total</div>
      <div class="text-[16px] font-bold text-black "> {{ onSubTotal() }}</div>
    </div>
    <div class="flex items-center justify-between">
      <div class="text-[16px] font-semibold text-gray-500 ">Discount</div>
      <div class="text-[16px] font-bold text-black ">{{ onDiscount() }}</div>
    </div>
    <div class="flex items-center justify-between">
      <div class="text-[16px] font-semibold text-gray-500 ">Tax(7)%</div>
      <div class="text-[16px] font-bold text-black "> {{ onTax() }}</div>
    </div>
    <div class="flex items-center justify-between">
      <div class="text-[16px] font-semibold text-gray-500 ">Subcharge</div>
      <div class="text-[16px] font-bold text-black "> {{ onSubCharge() }}</div>
    </div>

    <div class="border-t my-1 border-2 border-dashed "></div>

    <div class="flex items-center justify-between">
      <div class="text-[16px] font-semibold text-gray-500 ">Balance</div>
      <div class="text-[20px] font-bold text-[#557AD9]">${{ onBalance() }}</div>
    </div>

    <div class="flex items-center justify-between">
      <div class="text-[16px] font-semibold text-gray-500 ">Paid</div>
      <div class="text-[20px] font-bold text-[#557AD9]">${{ onPaid() }}</div>
    </div>
    <div class="flex items-center justify-between">
      <div class="text-[16px] font-semibold text-gray-500 ">Total</div>
      <div class="text-[20px] font-bold text-[#557AD9]">${{ onTotal() }}</div>
    </div>
  </div>
</div>
