<div class="flex items-center justify-end gap-2 mt-3">
  <button (click)="viewClose()"
          [disabled]="false"
          class="flex items-center justify-center mx-2
                 min-w-[76px] min-h-[26px] rounded-2xl text-[#557AD9] text-[14px] font-semibold
                 bg-[#E5EDFE] disabled:bg-gray-300 disabled:text-white"
          style="font-size: 14px"> View
  </button>

  <button (click)="printClose()"
          class="flex items-center justify-center mx-2
                 min-w-[76px] min-h-[26px] rounded-2xl text-[#557AD9] text-[14px] font-semibold
                 bg-[#E5EDFE]"
          style="font-size: 14px"> Print
  </button>

</div>

