.my-pagination ul {
  display: flex;
  padding: 0;
  margin: 5px 10px;
  justify-content: center;
}

.my-pagination .pagination-previous, .my-pagination .pagination-next {
  width: 135px;
  height: 85px;
  background-color: var(--pag);
  border: 3px var(--pag-border);
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-pagination .disabled {
  padding: initial;
  background-color: var(--pag-disable);
}

.my-pagination .disabled:hover,
.my-pagination .pagination-previous.disabled :hover,
.my-pagination .pagination-next.disabled :hover {
  background-color: #B8B8B8 !important;
}

.my-pagination .pagination-previous a:hover, .my-pagination .pagination-next a:hover {
  background-color: var(--pag);
}

.my-pagination .pagination-previous a, .my-pagination .pagination-next a {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

