div[mat-dialog-content] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

div[mat-dialog-actions] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.financial-layout {
  display: flex;
  flex-direction: row;
}

.sales {
  margin-bottom: 10px;
}

.financial-group {
  border-radius: 10px;
  border: 1px solid gray;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 270px;
  flex-direction: column;
  padding: 5px 20px;

  .financial-item {
    width: 100%;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;

    label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 50%;
    }

    .amount-total {
      display: flex;
      justify-content: space-between;
      width: 50%;

      span:first-of-type {
        margin-left: 10px;
      }
    }
  }

  .financial-item.bold {
    font-weight: bolder;
  }
}

mat-toolbar {
  background-color: var(--backmsj) !important;
}

.close {
  background-color: var(--closebtn);
  color: white;
  font-weight: bold;
}
