<div class="w-full h-[96px] my-2 ">
  <section class="w-full h-[960px] font-poppins font-normal flex flex-col">
    <div class="mx-4 px-2 py-3 bg-gray-300/15 rounded-2xl border border-gray-200">
      <div class="text-[16px] font-normal mt-2">
        {{ productsConsumed(order.productOrders) }}
      </div>
      <div class="flex w-full">
        <div class="w-1/6 flex flex-col items-center justify-between">
          <div class="text-[12px] text-[#9C9C9C]">Date</div>
          <div>{{ order.order.paidDate }}</div>
        </div>
        <div class="w-1/6 flex flex-col items-center justify-between">
          <div class="text-[12px] text-[#9C9C9C]">Quantity</div>
          <div>{{ order.productOrders.length }}</div>
        </div>
        <div class="w-1/6 flex flex-col items-center justify-between">
          <div class="text-[12px] text-[#9C9C9C]">Table</div>
          <div>{{ order.order!.table!.label }}</div>
        </div>
        <div class="w-1/6 flex flex-col items-center justify-between">
          <div class="text-[12px] text-[#9C9C9C]">Payment Mode</div>
          <div>{{ methodPaid(order.payments[0]!.paymentMethod!) }}</div>
        </div>
        <div class="w-2/6 flex justify-center items-center mx-2 space-x-2">
          <button (click)="onDialogReorder()" class="w-[91px] h-[46px] bg-[#557AD9] text-white rounded-2xl">Re-order
          </button>
          <button (click)="onDialogView()" class="w-[91px] h-[46px] bg-white border-2 rounded-2xl border-[#557AD9]">
            View
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
