<section class="w-full min-h-[80px] flex flex-col item-center bg-gray-50 rounded-2xl">
  <div class="flex flex-col justify-center mx-6  my-4">
    <label class="block text-[12px] font-semibold text-gray-900 dark:text-white">
      Promotions
    </label>
    <div class="w-full flex items-center justify-between">
      <input [(ngModel)]="scheduler!.buyX"
             class="w-2/3 h-[40px] bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                  focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600
                                  dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                  dark:focus:border-blue-500"
             type="number"
      />
      <div class="mx-4">vs</div>
      <input [(ngModel)]="scheduler!.payY"
             class="w-2/3 h-[40px] bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                  focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600
                                  dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                  dark:focus:border-blue-500"
             type="number"
      />
    </div>

  </div>
</section>
