<div class="flex items-center flex-col h-full w-full">
  <div class="flex flex-col items-center justify-center w-full h-full">
    @if (isListUserActive()) {
      <div class="flex flex-col items-center justify-around">
        <app-slider-photo #sliderPhoto (evuserNameActive)="activeUser($event)"/>
        <div class="w-[400px] flex items-center justify-center mx-auto">
          <div class="flex flex-col items-center justify-between">
            <div class="flex flex-col w-full">
              <label
                class="text-center flex flex-col text-[24px] text-white bg-transparent select-none border-none focus:outline-none"
              >Enter PIN</label
              >
              <label
                class="text-center flex flex-col text-[14px] text-white bg-transparent select-none border-none focus:outline-none"
              >Your Pin is required to enable Touch ID</label
              >
              @if (passwordInput.length == 0) {
                <label

                  class="text-center mt-2 flex flex-col text-[25px] text-white bg-transparent select-none border-none focus:outline-none"
                >° ° ° °</label
                >
              }

              @if (passwordInput.length > 0) {
                <input

                  type="password"
                  class="text-center text-white bg-transparent select-none border-none focus:outline-none"
                  autocomplete="off"
                  style="font-size: 1.73rem"
                  disabled
                  placeholder="Enter your PIN"
                  [(ngModel)]="passwordInput"
                />
              }
            </div>
            <div
              class="grid items-center justify-around grid-cols-3 gap-6 font-bold text-[#1C2537]"
            >
              <button
                (click)="onKeyPress('1')"
                class="w-[70px] h-[70px] rounded-full bg-white
                   hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                1
              </button>
              <button
                (click)="onKeyPress('2')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                2
              </button>
              <button
                (click)="onKeyPress('3')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                3
              </button>
              <button
                (click)="onKeyPress('4')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                4
              </button>
              <button
                (click)="onKeyPress('5')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                5
              </button>
              <button
                (click)="onKeyPress('6')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                6
              </button>
              <button
                (click)="onKeyPress('7')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                7
              </button>
              <button
                (click)="onKeyPress('8')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                8
              </button>
              <button
                (click)="onKeyPress('9')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                9
              </button>
              <button
                (click)="onKeyPress('C')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border flex justify-center items-center"
              >
                <svg
                  class=""
                  fill="none"
                  height="24"
                  viewBox="0 0 20 20"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                    stroke="white"
                    stroke-miterlimit="10"
                    stroke-width="1.5"
                  />
                  <path
                    d="M12.5 7.5L7.5 12.5"
                    stroke="#1C2537"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                  />
                  <path
                    d="M12.5 12.5L7.5 7.5"
                    stroke="#1C2537"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                  />
                </svg>
              </button>
              <button
                (click)="onKeyPress('0')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border rounded-3xl flex justify-center items-center"
              >
                0
              </button>
              <button
                (click)="onKeyPress('X')"
                class="w-[70px] h-[70px] rounded-full bg-white hover:scale-110 delay-100 transition-all cursor-pointer border rounded-3xl flex justify-center items-center"
              >
                <svg
                  class=""
                  fill="none"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.2801 20.25H17.0001C19.7601 20.25 22.0001 18.01 22.0001 15.25V8.75C22.0001 5.99 19.7601 3.75 17.0001 3.75H10.2801C8.87005 3.75 7.53005 4.34 6.58005 5.39L3.05005 9.27C1.64005 10.82 1.64005 13.18 3.05005 14.73L6.58005 18.61C7.53005 19.66 8.87005 20.25 10.2801 20.25Z"
                    stroke="#1C2537"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                  />
                  <path
                    d="M16.0001 14.47L11.0601 9.53003"
                    stroke="#1C2537"
                    stroke-linecap="round"
                    stroke-width="1.5"
                  />
                  <path
                    d="M11.0601 14.47L16.0001 9.53003"
                    stroke="#1C2537"
                    stroke-linecap="round"
                    stroke-width="1.5"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

    } @else {
      <svg
        aria-hidden="true"
        role="status"
        class="inline w-[70px] h-[70px] mr-3 text-white animate-spin"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="#9747FF"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="#50D1AA"
        />
      </svg>
    }
  </div>
</div>

<!--




<div class="w-[6.23rem] h-[6.23rem] flex flex-col justify-center items-center">
          <img class="object-cover w-full h-full rounded-full opacity-50 ring-2 ring-gray-400" src="assets/logo/Logo.png" alt="">
        </div>
        <div class="w-[6.23rem] h-[6.23rem]">
          <img class="object-cover w-full h-full rounded-full opacity-50 ring-2 ring-gray-400" src="assets/logo/Logo.png" alt="">
        </div>
        <div class="w-[7.23rem] h-[7.23rem] flex flex-col justify-center items-center">
          <img class="object-cover w-full h-full rounded-full ring-2 ring-gray-400" src="assets/logo/Logo.png" alt="">
        </div>
        <div class="w-[6.23rem] h-[6.23rem]">
          <img class="object-cover w-full h-full rounded-full opacity-50 ring-2 ring-gray-400" src="assets/logo/Logo.png" alt="">
        </div>
        <div class="w-[6.23rem] h-[6.23rem]">
          <img class="object-cover w-full h-full rounded-full opacity-50 ring-2 ring-gray-400" src="assets/logo/Logo.png" alt="">
        </div>

       -->

<!--
      <swiper
        [effect]="'coverflow'"
        [grabCursor]="true"
        [centeredSlides]="true"
        [slidesPerView]="'auto'"
        [coverflowEffect]="{
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true
        }"
        [pagination]="true"
        [navigation]="true"
        class="mySwiper"
      >

        <ng-template swiperSlide><img src="assets/category/img_1.png" height="175" width="176"/></ng-template>
        <ng-template swiperSlide><img src="assets/category/img_2.png" height="175" width="176"/></ng-template>
        <ng-template swiperSlide><img src="assets/category/img_3.png" height="175" width="176"/></ng-template>
        <ng-template swiperSlide><img src="assets/category/img_4.png" height="175" width="176"/></ng-template>
        <ng-template swiperSlide><img src="assets/category/img_5.png" height="175" width="176"/></ng-template>
        <ng-template swiperSlide><img src="assets/category/img_6.png" height="175" width="176"/></ng-template>

      </swiper>
      -->

<!--

<swiper-container slides-per-view="5" centeredSlidesBounds="true" loop="true">
  <swiper-slide>
    <h1>1</h1>
      <img class="object-cover  rounded-full ring-2 ring-white" src="assets/logo/Logo.png" alt="">
  </swiper-slide>
  <swiper-slide>
    <h1>2</h1>
    <img class="object-cover  rounded-full ring-2 ring-white" src="assets/background/img.png" alt="">
  </swiper-slide>
  <swiper-slide>
    <h1>3</h1>
    <img class="object-cover  rounded-full ring-2 ring-white" src="assets/logo/Logo.png" alt="">
  </swiper-slide>
  <swiper-slide>
    <h1>4</h1>
    <img class="object-cover  rounded-full ring-2 ring-white" src="assets/logo/Logo.png" alt="">
  </swiper-slide>
  <swiper-slide>
    <h1>5</h1>
    <img class="object-cover  rounded-full ring-2 ring-white" src="assets/logo/Logo.png" alt="">
  </swiper-slide>
  <swiper-slide>
    <h1>6</h1>
    <img class="object-cover  rounded-full ring-2 ring-white" src="assets/logo/Logo.png" alt="">
  </swiper-slide>
  <swiper-slide>
    <h1>7</h1>
    <img class="object-cover  rounded-full ring-2 ring-white" src="assets/logo/Logo.png" alt="">
  </swiper-slide>
  <swiper-slide>
    <h1>8</h1>
    <img class="object-cover  rounded-full ring-2 ring-white" src="assets/logo/Logo.png" alt="">
  </swiper-slide>
</swiper-container>


      -->
