<section class="w-[610px] h-[613px] rounded-[16px] bg-white">
  <div
    class="flex justify-between items-center w-full border-b-2 h-[60px] bg-white dark:bg-gray-600 mb-[18px]"
  >
    <div class="flex justify-between items-center mx-5 w-full">
      <span class="text-[16px] text-black font-semibold">Edit user</span>
      <button (click)="onClose()" class="bg-white px-5 py-3 text-black">
        <svg
          aria-hidden="true"
          class="w-3 h-3 text-black font-semibold dark:text-white"
          fill="none"
          viewBox="0 0 14 14"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center space-x-4 mx-6">
    <div class="h-[170px] w-full flex items-center justify-between mx-[24px]">
      <div class="min-w-[140px] min-h-[140px] mr-[27px]">
        <!-- <input type="file" accept="image/*" capture="environment" id="imageCapturer"> -->
        <svg aria-hidden="true"
             class="w-[140px] h-[140px] text-gray-800 dark:text-white" fill="#344D67"
             viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
        </svg>
      </div>
      <div class="w-full">
        <div><span class="font-semibold">Description</span></div>
        <textarea
          #description
          #touchKeyboard1="ngxTouchKeyboard"
          (focus)="touchKeyboard1.openPanel()"
          class="w-full h-[120px] text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="message"
          ngxTouchKeyboard
          ngxTouchKeyboardFullScreen
          placeholder="Write description here..."
          rows="4"
          style="overflow: auto; resize: none"
        ></textarea>
      </div>
    </div>
    <div class="w-full flex justify-between items-center">
      <div class="flex flex-col w-full space-y-6">
        <div class="flex flex-col mr-6">
          <label
            class="block mb-2 text-[12px] font-semibold text-gray-900 dark:text-white"
            for="productName"
          >
            User</label
          >
          <input
            #touchKeyboardproductName="ngxTouchKeyboard"
            (focus)="touchKeyboardproductName.openPanel()"
            [(ngModel)]="data.user.userName" aria-autocomplete="none"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="username"
            ngxTouchKeyboard
            ngxTouchKeyboardFullScreen
            placeholder="Username"
            required
            type="text"
          />
        </div>
        <div class="flex flex-col mr-6">
          <label
            class="block mb-2 text-[12px] font-semibold text-gray-900 dark:text-white"
            for="category"
          >Name</label
          >
          <input
            #touchKeyboardCategory="ngxTouchKeyboard"
            (focus)="touchKeyboardCategory.openPanel()"
            [(ngModel)]="data.user.fullName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="name"
            ngxTouchKeyboard
            ngxTouchKeyboardFullScreen
            placeholder="Name"
            required
            type="text"
          />
        </div>
        <div class="flex flex-col mr-6">
          <label
            class="block mb-2 text-[12px] font-semibold text-gray-900 dark:text-white"
            for="userPosition"
          >Team</label
          >
          <select
            [(ngModel)]="data.user.userPositionId"
            (change)="onChangeSelectRole($event)"
            id="userPosition"
            class="w-full h-[42px] appearance-none row-start-1 col-start-1  bg-gray-10 border border-gray-300 
	           text-gray-900 text-sm rounded-lg focus:border-gray-10 focus:border-gray-300 block p-2.5 mr-6"
          >
            @for (item of usersService!.items!; track item) {

              <option value="{{ item.id! }}" [selected]="data.user.userPosition == item.title">{{ item.title }}</option>

            }
          </select>
        </div>
        <div class="flex flex-col mr-6">
          <label
            class="relative inline-flex items-center w-[150px] cursor-pointer"
          >
            <input
              (change)="changeAvailable()"
              [checked]=""
              class="sr-only peer"
              type="checkbox"
              value="1"
            />
            <div
              class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-[#3EC8AC]"
            ></div>
            <span
              class="ml-3 text-[14px] font-medium text-gray-900 dark:text-gray-300"
            >Available</span
            >
          </label>

        </div>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex flex-col w-full space-y-6">
          <div class="flex flex-col mr-6">
            <label
              class="block mb-2 text-[12px] font-semibold text-gray-900 dark:text-white"
              for="pin"
            >
              Pin</label
            >
            <input
              #touchKeyboardBuyPrice="ngxTouchKeyboard"
              (focus)="touchKeyboardBuyPrice.openPanel()"
              [(ngModel)]="pin"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              id="pin"
              ngxTouchKeyboard
              ngxTouchKeyboardFullScreen
              placeholder="Pin"
              required
              type="password"
            />
          </div>
          <div class="flex flex-col mr-6">
            <label
              class="block mb-2 text-[12px] font-semibold text-gray-900 dark:text-white"
              for="newPin"
            >
              New Pin</label
            >
            <input
              #touchKeyboardCostPrice="ngxTouchKeyboard"
              (focus)="touchKeyboardCostPrice.openPanel()"
              [(ngModel)]="new_pin"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              id="newPin"
              ngxTouchKeyboard
              ngxTouchKeyboardFullScreen
              placeholder="New Pin"
              required
              type="password"
            />
          </div>
          <div class="flex flex-col mr-6">
            <label
              class="block mb-2 text-[12px] font-semibold text-gray-900 dark:text-white"
              for="repeatPin"
            >
              Repeat New Pin</label
            >
            <input
              #touchKeyboardCostPrice="ngxTouchKeyboard"
              (focus)="touchKeyboardCostPrice.openPanel()"
              [(ngModel)]="repeat_pin"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              id="repeatPin"
              ngxTouchKeyboard
              ngxTouchKeyboardFullScreen
              placeholder="Repeat New Pin"
              required
              type="password"
            />
          </div>
          <div class="flex flex-col mr-6">

            <label
              class="relative inline-flex items-center w-[170px] cursor-pointer"
            >
              <input
                (change)="changeAvailable()"
                [checked]="data.user.keyCard"
                class="sr-only peer"
                type="checkbox"
                value="1"
              />
              <div
                class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-[#3EC8AC]"
              ></div>
              <span
                class="ml-3 text-[14px] font-medium text-gray-900 dark:text-gray-300"
              >Have a keycard?</span
              >
            </label>

          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center h-[70px] mt-4 border-t-2">
      <button
        (click)="onSaveUser()"
        class="w-[224px] h-[48px] mx-[6px] text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-[10px] text-sm bg-[#344D67] mt-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button"
      >
        Update
      </button>
    </div>
  </div>
</section>

