<div class="flex flex-col justify-between items-center w-[289px] h-316px] bg-transparent">
  <div class="w-[289px] h-[260px] flex flex-col items-center justify-center">
    <mat-spinner></mat-spinner>
  </div>
  <!--
  @if (showMessage) {

    <div class="w-[289px] h-[48px] flex items-center justify-center">
      <button class="bg-[#557AD9] text-center block rounded-2xl text-white px-5 py-3 mb-8" style="font-size: 1rem;">
        Wait process...
      </button>
    </div>

  }
  -->

</div>



