<section class="w-[calc(100vw-(340px))] h-[calc(100vh-80px)] bg-[#F8F9FD] ">
  <div class="flex flex-col w-[calc(100vw-(340px))] h-[calc(100vh-80px)]">
    <div class="h-[60px] w-[60%] flex items-center justify-center bg-[white] mx-auto mt-4">
      <select #selectStatus (change)="onChangeGroup($event)"
              class="w-[173px] h-[42px] bg-gray-10 border border-gray-300 text-gray-900 text-sm rounded-lg
              focus:border-gray-10 focus:border-gray-300 block p-2.5 mr-6">
        <option value="1">Daily</option>
        <option value="2">Month</option>
      </select>
      <div #dateRangePicker class="flex items-center justify-center" id="dateRangePicker">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="currentColor"
                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
          </div>
          <input aria-autocomplete="none" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block
               w-[180px] pl-10 p-2.5
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
               dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="start"
                 placeholder="Select date start"
                 type="text">
        </div>
        <span class="mx-4 text-gray-500">to</span>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="currentColor"
                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
          </div>
          <input aria-autocomplete="none" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                      focus:ring-blue-500 focus:border-blue-500 block
                      w-[180px] pl-10 p-2.5
                      dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                      dark:focus:ring-blue-500 dark:focus:border-blue-500" name="end"
                 placeholder="Select date end"
                 type="text">
        </div>
      </div>
      <div class="flex justify-center items-center ml-5">
        <button (click)="onExecReport()"
                class="w-[120px] h-[42px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                     font-medium rounded-lg text-sm
                     dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none
                     dark:focus:ring-blue-800"
                type="button">Process
        </button>
      </div>

    </div>
    <div class="w-[50%] h-[50%] border-2 flex">
      <apx-chart
        Height="100%"
        [chart]="chartOptions?.chart!"
        [dataLabels]="chartOptions?.dataLabels!"
        [plotOptions]="chartOptions?.plotOptions!"
        [series]="chartOptions?.series!"
        [xaxis]="chartOptions?.xaxis!"
        width="100%"/>
    </div>
  </div>
</section>

